<div class="container mx-auto p-6">
  <h2 class="text-2xl font-bold mb-4">Currency Converter</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <label for="amount" class="block font-medium mb-2">Amount:</label>
      <input id="amount" type="number" [(ngModel)]="amount" (input)="convertCurrency()"
        class="p-2 border rounded w-full" />
    </div>

    <div>
      <label for="fromCurrency" class="block font-medium mb-2">From:</label>
      <select id="fromCurrency" [(ngModel)]="fromCurrency" (change)="convertCurrency()"
        class="p-2 border rounded w-full">
        @for (currency of exchangeRates | keyvalue; track $index) {
        <option [value]="currency.key">{{ currency.key }}</option>
        }
      </select>
    </div>

    <div>
      <label for="toCurrency" class="block font-medium mb-2">To:</label>
      <select id="toCurrency" [(ngModel)]="toCurrency" (change)="convertCurrency()" class="p-2 border rounded w-full">
        @for (currency of exchangeRates | keyvalue; track $index) {
        <option [value]="currency.key">{{ currency.key }}</option>
        }
      </select>
    </div>

    <div>
      <label for="convertedAmount" class="block font-medium mb-2">Converted Amount:</label>
      <input id="convertedAmount" type="text" [value]="convertedAmount | number : '1.2-2'" disabled
        class="p-2 border rounded w-full bg-gray-100" />
    </div>
  </div>
</div>